doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
    link(href='/stylesheets/style.css' rel='stylesheet')
  body
    block content
    block scripts
