$settings-menu-background-color: #fff
$settings-menu-text-color: #ff7f00
$tab-background-color: #f1f1f1
$tab-border-color: #ccc
$tab-button-hover-color: #ddd
$tab-button-active-color: #ccc

.settings
  color: $settings-menu-text-color
  cursor: pointer
  font-family: Helvetica, sans-serif
  left: 5px
  position: absolute
  top: 5px

.settings-menu
  background-color: $settings-menu-text-color
  color: $settings-menu-background-color
  display: none
  padding: 10px
  position: absolute
  width: 600px
  z-index: 10

.tab
  background-color: $tab-background-color
  border: 1px solid $tab-border-color
  overflow: hidden

  button
    background-color: inherit
    border: 0
    cursor: pointer
    float: left
    font-size: 17px
    padding: 14px 16px
    transition: .3s

    &:focus
      outline: none

    &::-moz-focus-inner
      border: 0

    &:hover
      background-color: $tab-button-hover-color

    .active
      background-color: $tab-button-active-color

.tab-content
  animation: fade-effect 1s
  display: none
  height: 350px
  padding: 6px 12px

@keyframes fade-effect
  from
    opacity: 0

  to
    opacity: 1
