@import 'canvases'
@import 'build-menu'
@import 'settings-menu'

*,
*::before,
*::after
  box-sizing: border-box

body
  padding: 50px
  font: 20px 'Lucida Grande', Helvetica, Arial, sans-serif

a
  color: #00B7FF

#playerHealth
  position: absolute
  top: 0
  left: 660px


