@import 'canvases'
@import 'build-menu'
@import 'settings-menu'

*,
*::before,
*::after
  box-sizing: border-box

body
  padding: 50px
  font: 20px 'Lucida Grande', Helvetica, Arial, sans-serif

a
  color: #00B7FF

.settings
  position: absolute
  top: 5px
  left: 5px
  color: #FF7F00
  font-family: Helvetica, sans-serif
  cursor: pointer
